.App {
  text-align: center;
  background-color: lightgrey;
  height: 100vh;
}
.HeaderBar{
  background:#7fcf00;
  color:white;
  height:3%;
  font-size:1.4em;
  font-weight: bold;
  align-items:center;
}
.Layout{
  text-align: left;
  align-items: center;
  width: 90%;
  height: 90%;
  display: inline-block;
}
.SecondLayout{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1%;

}
.Usertablecontainer{
  width: 100%;
  height: 50%;
  margin: 0;
  background-color: whitesmoke;
  text-align: center;
  overflow: scroll;
}
.Chartcontainer{
  background-color: white;
  width: 60%;
  height: 95%;
  padding: 1%;
  text-align: center;
}
.Mapcontainer{
  min-width: 200px;
  width: 35%;
  height: 95%;
  background-color: white;
  text-align: center;
  padding: 1%;
}
